
.shadow-button-set {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  gap: 2.5vmin;
}

.shadow-button-set > li {
  list-style-type: none;
  background: white;
}

.shadow-button-set > li:is(:hover, :focus-within) > button:not(:active) {
  --distance: -10px;
}

.shadow-button-set button {
  appearance: none;
  outline: none;
  font-size: 5vmin;
  border: 3px solid white;
  background: black;
  color: white;

  --distance: 0;
  transform: translateX(var(--distance)) translateY(var(--distance));
  transition: transform .2s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
}