html, main{
    background-color: black;
}
label, .text{
    color: white;
    text-align: center;
}
.contactform{
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin: auto;
}


#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}